<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid black;
        }

        th,
        tr,
        td {
            border: 1px solid black;
        }

        h1 {
            color: blue;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>User Feedbacks</h1>
    <table>
        <th>Names</th>
        <th>Feedback</th>
        <tr>
            <td>{{name_one}}</td>
            <td>{{feedback_one}}</td>
        </tr>
        <tr>
            <td>{{name_two}}</td>
            <td>{{feedback_two}}</td>
        </tr>
        <tr>
            <td>{{name_three}}</td>
            <td>{{feedback_three}}</td>
        </tr>
        <tr>
            <td>{{name_four}}</td>
            <td>{{feedback_four}}</td>
        </tr>
        <tr>
            <td>{{name_five}}</td>
            <td>{{feedback_five}}</td>
        </tr>
        <tr>
            <td>{{name_six}}</td>
            <td>{{feedback_six}}</td>
        </tr>

    </table>
</body>

</html>